@model MediaWeb.Models.MovieModels.MovieModels.MovieFilterListViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<hr />
@*<p>Search</p>
<form id="postForm" asp-controller="Movie" asp-action="Index" method="Get">
    <div class="form-group">
        <label asp-for="Titel"></label>
        <input class="form-control" asp-for="Titel" />
    </div>
    if (SignInManager.IsSignedIn(User))
        {
    <div class="form-group">
        <label asp-for="GezienStatus">Uw gezien status: </label>
        <select onchange="FilterChanged()" asp-for="GezienStatus" asp-items="Model.GezienStatusList"></select>
    </div>
    

    <div class="form-group">
        <label asp-for="Rating">Rating</label>
        <select onchange="FilterChanged()" asp-for="Rating" asp-items="Model.RatingList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Genre</label>
        <select onchange="FilterChanged()" asp-for="Genre" asp-items="Model.GenreList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Regisseur</label>
        <select onchange="FilterChanged()" asp-for="Regisseur" asp-items="Model.RegisseurList"></select>
    </div>
</form>*@


<table>
    <tr>
        <td style="width:3rem">
            <strong>Id</strong>
        </td>
        <td style="width:10rem">
            <strong>Title</strong>
        </td>
        <td style="width:10rem">
            <strong>Rating</strong>
        </td>
        <td style="width:10rem">
            <strong>Aantal gezien</strong>
        </td>
        <td style="width:10rem">
            <strong>Heeft gezien</strong>
        </td>
        <td style="width:5rem" />
        <td style="width:5rem" />
        <td style="width:5rem" />
    </tr>
    @if (Model.Movies.Count() == 0)
    {
        <tr><td>Er zijn nog geen films.</td></tr>
    }
    else
    {
        for (int i = 0; i < Model.Movies.Count(); i++)
        {
<tr>
    <td>@Model.Movies.ElementAt(i).Id )</td>
    <td>@Model.Movies.ElementAt(i).Titel</td>
    @if (@Model.Movies.ElementAt(i).Rating != -1)
    {
        <td>@Model.Movies.ElementAt(i).Rating</td>
    }
    else
    {
        <td>Nog geen rating</td>
    }
    <td>@Model.Movies.ElementAt(i).AantalGezien</td>
    @if (@Model.Movies.ElementAt(i).HeeftGezien == 1)
    {
        <td>Onekend</td>
    }
    else if (@Model.Movies.ElementAt(i).HeeftGezien == 2)
    {
        <td>Gezien</td>
    }
    else if (@Model.Movies.ElementAt(i).HeeftGezien == 3)
    {
        <td>Wil zien</td>
    }
    else
    {
        <td>Log in</td>
    }

    <td><a asp-controller="Movie" asp-action="Details" asp-route-movieId="@Model.Movies.ElementAt(i).Id">Details</a></td>
    @if (SignInManager.IsSignedIn(User))
        {
    <td><a asp-controller="Movie" asp-action="Update" asp-route-movieId="@Model.Movies.ElementAt(i).Id">Edit</a></td>
    <td><a asp-controller="Movie" asp-action="Delete" asp-route-movieId="@Model.Movies.ElementAt(i).Id">Delete</a></td>
    }
</tr>
    
        }
    }


</table>

@if (SignInManager.IsSignedIn(User))
    {
<p><a asp-controller="Movie" asp-action="Create">Create</a></p>
}


